* {
	box-sizing: border-box;
}
body,p {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li {	
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

.clearfix::before {
	content: "";
	display: block;
	clear: both;
}
th, td {
	min-width: 50px;
	height: 25px;
}

.head-title {
	width: 768px;
	margin: 0 auto;
	padding: 10px;
	text-align: right;
}
.head-subtitle {
	float: right;
	margin: 10px;
}
.head-subtitle_wrap {
	padding: 15px;
		width: 768px;
	margin: 0 auto;
}
.table-box table {  /*вот тут изменила - добавила класс*/
	width: 150px;
  border-collapse: collapse;
  text-align: center;
}
.right-block table {
	float: right;
}
.right-block {
	float: right;
}

.table-box th,
.table-box td {
	border: 1px solid #000;
}
.signature th,
.signature td {
	border: none;
}
.table-box-head tr,
.table-box-head td {
	padding: 15px;
}
.table-box .total {
	border: none;
	text-align: right;
	padding-right: 15px;
	font-weight: bold;
}




/**/
/*table-title*/
.width100 table {
	width: 768px;
}
.table-title {
	text-align: center;

}
.left-block {
	float: left;
}
.table-title-container table{
	 border-collapse: collapse;
	 border: none;
}
 .table-title table {
	 text-align: left;
 }
 .row-bottom {
	 padding-top: 15px;
 }
 .row-top {
	 padding-bottom: 15px;
 }
 .bottom-border {
	 border-bottom: 1px solid #000;
 }
 .signature .bottom-border {
	 border-bottom: 1px solid #000;
 }
 .underline {
	 border-bottom: 1px solid #000;
 }
 .table-box .text-left {
    text-align: left;
 }
 .table-box .text-right {
    text-align: right;
 }
 .date {
	 width: 768px;
	 margin: 0 auto;
 }
 .date-wrapper table {
	 width: 300px;
 }
